@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translate(-20%, 0);
  }

  80% {
    transform: translate(2rem);
  }

  100% {
    opacity: 1;
    transform: 0;
  }
}

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translate(0, 3rem);
  }

  100% {
    opacity: 1;
    transform: 0;
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translate(20%, 0);
  }

  80% {
    transform: translate(-2rem);
  }

  100% {
    opacity: 1;
    transform: 0;
  }
}
